@font-face {
    font-family: AmericanCaptain;
    src: url(../fonts/American_Captain.ttf);
    }

body {
    background-color: #f8f9fa;
}

.header-bar {
    border-bottom: solid 2px black
}

#header-text {
    font-family: AmericanCaptain;
}

#header-text:hover {
    text-decoration: none;
}

#main-box {
    margin-top: 10vh; 
  }

#footer {
    height: 5vh;
    border-top: 4px solid slategray;
    font-family: 'Roboto', sans-serif;
}

#game-image {
    height: 50%;
    width: 50%;
    float: left;
    margin: 4%;
}


.game-display {
    box-shadow: 5px 5px;
    
}

#user-choice {
    font-family: 'Lobster', cursive;
    font-family: 'Exo 2', sans-serif;
}

/* h3{
    margin-top: 4%;
}   */

.game-box:hover {
    background-color: #DCDCDC;
    border-radius: 25px;
}

div {
    float: left;
    margin: 1%;
}

iframe {
    width: 120%;
}

.player-video {
    width: 50%;
}
  
.card {
    height: 100%;
}
  
